.feedbacks {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 13vh;
}

.feedbackInfo {
    margin-left: 7%;
}

.starDivFeedback {
    color: #514A7E;
}

.mainFeedbackP {
    position: relative;
    bottom: 15vh;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

.feedbackPicture {
    margin-left: 3%;
}

.firstFeedbackBody,
.secondFeedbackBody {
    display: flex;
    height: 20vh;
    align-items: center;
    width: 35%;
    background-color: white;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.feedbackText {
    color: #7D7D7D;
    width: 90%;
}

.feedbackFooter {
    display: flex;
}

.rightText {
    margin-left: 50%;
    color: #514A7E;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.secondFeedbackBody {
    margin-left: 5%;
}

.feedbackButton {
    margin-left: 10%;
}

.feedbackIcon {
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid #514A7E;
    border-radius: 100%;

    transition: .3s;
}

.feedbackImg {
    stroke: #514A7E;

    margin-right: -1%;
    margin-top: 5%;
}

.addFeedback {
    width: 9%;
    height: 4vh;
    position: relative;
    bottom: 10vh;
    border: 0.5px solid #514A7E;
    background-color: #514A7E;
    color: white;
    font-family: 'Roboto', sans-serif;
}