.applicationOuter {
    position: relative;
    bottom: 8vh;
    margin-left: 0%;
    background-color: #514A7E;
    width: 65%;
    height: 45vh;
    box-shadow: 0px 4px 20px 0px rgba(51, 51, 51, 0.05);
}

.applicationInner {
    position: relative;
    top: 4vh;
    width: 75%;
    height: 85% !important;
    background-color: white;
    /* margin-left: 8%; */
    margin: auto;
    box-shadow: 0px 4px 20px 0px rgba(51, 51, 51, 0.05);
}

.cooperation {
    margin-bottom: 0%;
}

.innerContent {
    margin-left: 10%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
}

.applicationMainText {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    width: 90%;
    font-weight: 700;
}

.nameInput {
    outline: none;
    width: 45%;
    margin-top: 2%;
    border: 0;
    border-bottom: solid 1px #7D7D7D;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #7D7D7D;
}

.phoneInput {
    outline: none;
    margin-top: 5%;
    width: 45%;
    border: 0;
    border-bottom: solid 1px #7D7D7D;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #7D7D7D;
}

.emailInput {
    outline: none;
    margin-top: 5%;
    width: 45%;
    border: 0;
    border-bottom: solid 1px #7D7D7D;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #7D7D7D;
}

.personalData {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0.7vh;
}

.personalDataP {
    color: #7D7D7D;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    margin-left: 0.5%;
}

.roundInput {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.roundInput:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: blue;
}

.sendButton {
    margin-top: 2%;
    padding-left: 3%;
    width: 25%;
    height: 4vh;
    border: 0.5px solid #514A7E;
    background: #514A7E;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    filter: drop-shadow(0px 4px 10px rgba(81, 74, 126, 0.40));
}

.sendButtonDiv {
    display: flex;
}

.arrowSendButton {
    margin-left: 10%;
    text-align: center;
}