.root {
    background-color: #121212;
    color: black;
    width: 20%;
    height: 90vh;
    position: absolute;
    /* bottom: 3vh; */
}
.menuCategories {
    margin-left: 5%;
}
.menuP {
    margin-top: 0vh;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1.5vh;
}
.LogoMenu {
    margin-bottom: 0vh;
    margin-left: 1%;
    margin-top: 5%;
}